@import "../../../Responsive/mixin.scss";
.productForMen_wrap {
  user-select: none;
  @include responsive_1024 {
    margin-left: -3px;
  }
}
.productForMen_name {
  font-size: 3rem;
  margin: 3rem 0 2rem 0;
  text-align: center;
  position: relative;
}

.productForMen_img_container {
  width: 99.8%;
  height: 400px;

  .productForMen_img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
.productForMen_item {
  margin-bottom: 2rem;
}
