@import "../../../Responsive/mixin.scss";
.productAccessories_wrap {
  user-select: none;
}

.accessory_body {
  margin: 1.1rem 0rem;
  @include responsive_992 {
    margin: 0.8rem 0;
  }
  @include responsive_768 {
    margin: 0.8rem 0;
  }
  @include responsive_425 {
    margin: 0.4rem 0;
  }
  @include responsive_375 {
    margin: 0.4rem 0;
  }
  @include responsive_320 {
    margin: 0.4rem 0;
  }
}

.productAccessories_name {
  font-size: 3rem;
  margin: 3rem 0 2rem 0;
  text-align: center;
  position: relative;
}

.productAccessories_img_container {
  width: 100%;
  height: 581px;

  .productAccessories_img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
