@import "../../Responsive/mixin.scss";
.HotProduct_wrap {
  user-select: none;
}

.hotProduct_body {
  margin: 1.1rem 0;

  @include responsive_992 {
    margin: 0.8rem 0;
  }
  @include responsive_768 {
    margin: 0.8rem 0;
  }
  @include responsive_425 {
    margin: 0.4rem 0;
  }
  @include responsive_375 {
    margin: 0.4rem 0;
  }
  @include responsive_320 {
    margin: 0.4rem 0;
  }
}

.HotProduct_item {
  // margin-right: 2rem;
}
.HotProduct_name {
  font-size: 3rem;
  margin: 3rem 0 2rem 0;
  text-align: center;
  position: relative;
}

.HotProduct_type {
  display: flex;
  justify-content: center;
  align-items: center;

  .hotProduct_btn {
    font-size: 1.8rem;
    padding: 0 3rem 2rem 3rem;
    font-weight: 400;
    border: none;
    background-color: #fff;
    cursor: pointer;
  }
  .hotProduct_btn:hover {
    color: var(--hover-color);
  }
  // .active {
  //   font-size: 1.8rem;
  //   padding: 0 3rem 2rem 3rem;
  //   font-weight: 400;
  //   border: none;
  //   background-color: var(--primary);
  //   cursor: pointer;
  // }
}
