@import "../../Responsive/mixin.scss";

.new_product_wrap {
  user-select: none;
}

.new_product_body {
  margin: 1.1rem 0;
  @include responsive_992 {
    margin: 0.8rem 0;
  }
  @include responsive_768 {
    margin: 0.8rem 0;
  }
  @include responsive_425 {
    margin: 0.4rem 0;
  }
  @include responsive_375 {
    margin: 0.4rem 0;
  }
  @include responsive_320 {
    margin: 0.4rem 0;
  }
}

.heading_name {
  font-size: 3rem;
  margin: 3rem 0 2rem 0;
  text-align: center;
  position: relative;
}
