@import "../../../../../Responsive/mixin.scss";

.menuSidebar_modal {
  @include responsive_768 {
    display: block;
  }
  @include responsive_425 {
    display: block;
  }
  @include responsive_375 {
    display: block;
  }
  @include responsive_320 {
    display: block;
  }
  display: none;

  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 3;
}

.menuSidebar_wrap {
  @include responsive_768 {
    display: block;
    width: 40%;
  }
  @include responsive_425 {
    display: block;
    width: 50%;
  }
  @include responsive_375 {
    display: block;
    width: 70%;
  }
  @include responsive_320 {
    display: block;
    width: 70%;
  }
  display: none;

  background-color: #eceaea;

  position: fixed;

  z-index: 99;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: scroll;
  animation-name: animationSidebar;
  animation-duration: 0.8s;

  .icon_close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.5rem 2rem 0 1.5rem;
    i {
      font-size: 3rem;
    }
  }

  .menuSidebar_container {
    padding: 2rem 0;
    margin-top: 4rem;

    .menuContent {
      cursor: pointer;

      h4 {
        font-size: 2rem;
        padding: 1rem 0;
        font-weight: 400;
        padding-left: 2rem;
        .icon_down_product {
          font-size: 1.6rem;
          margin-left: 1.5rem;
        }
        .icon_down_brand {
          font-size: 1.6rem;
          margin-left: 1rem;
        }
      }
    }

    .menu_product_container,
    .menu_brand_container {
      transition: all 0.8s ease;
      ul {
        list-style: none;
        li {
          padding: 0.5rem 0;
          cursor: pointer;
          p {
            font-size: 1.8rem;
            color: var(--primary);
            font-weight: 300;
          }
        }
      }
    }
  }
}

@keyframes animationSidebar {
  from {
    opacity: 0.7;

    right: -415px;
  }
  to {
    opacity: 1;
    right: 0;
  }
}
