.counter_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
  border: 1px solid #dfdfdf;
  width: 14rem;

  .plus-btn {
    font-size: 1.8drem;
    padding-top: 0.5rem;
    border-left: 1px solid #dfdfdf;

    i {
      padding: 1rem 1rem;
    }
  }
  .disable {
    font-size: 1.8rem;
    padding-top: 0.5rem;
    border-right: 1px solid #dfdfdf;
    opacity: 0.4;
    pointer-events: none;
    i {
      padding: 1rem 1rem;
    }
  }
  .minus-btn {
    font-size: 1.8rem;
    padding-top: 0.5rem;
    border-right: 1px solid #dfdfdf;
    i {
      padding: 1rem 1rem;
    }
  }
  h5 {
    font-size: 1.8rem;
    font-weight: 500;
    margin: 0 2rem;
  }
}
