@import "../../../Responsive/mixin.scss";
.productsDetail_wrap {
  user-select: none;

  .productsDetail_container {
    padding-top: 6rem;
    .productDetail_pr {
      .productDetail_left {
        width: 100%;

        img {
          width: 100%;
          transform: scale(-1);
          object-fit: contain;
        }
        img:hover {
          opacity: 0.8;
          cursor: pointer;
        }
      }

      .productDetail_right {
        .productDetail_right-contain {
          margin-left: 2rem;
          h1,
          h2 {
            padding: 2rem 0;
            border-bottom: 1px solid #dfdfdf;
          }
          h2 {
            color: var(--hover-color);
            font-size: 2.5rem;
            font-weight: 500;
          }
          h1 {
            font-size: 4rem;
          }

          .productDetail_btn {
            @include responsive_1024 {
              margin-right: 4rem;
            }
            @include responsive_425 {
              margin-right: 10rem;
            }
            @include responsive_375 {
              margin-right: 10rem;
            }
            @include responsive_320 {
              margin-right: 10rem;
            }
          }

          .productDetail_describe {
            margin-top: 6rem;

            h3 {
              font-size: 3rem;
            }
            ul {
              list-style: circle;

              li {
                font-size: 1.8rem;
                font-weight: 300;
              }
            }
          }
        }
      }
    }

    .productDetail_more {
      @include responsive_425 {
        padding-left: 2rem;
      }
      @include responsive_375 {
        padding-left: 2rem;
      }
      @include responsive_320 {
        padding-left: 2rem;
      }
    }

    .productDetail_related {
      margin-top: 8rem;
      h2 {
        text-align: center;
        font-size: 3rem;
      }
    }
  }
  .detail_btn {
    margin-top: 3rem;
    width: 100%;
    margin-left: 4.5rem;
  }
}

//counter css
