@import "../../../../Responsive/mixin.scss";
.blogComp_wrap {
  user-select: none;
}
.blogComp_container {
  margin-bottom: 4rem;
}

.blogComp_content:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.blogComp_name {
  font-size: 3rem;
  margin: 3rem 0 2rem 0;
  text-align: center;
  position: relative;
}

.blogComp_content {
  // border: 1px solid #333;
  border-radius: 5px;
  width: 280px;
  height: 100%;
  @include responsive_768 {
    width: 250px;
  }
  @include responsive_425 {
    width: 210px;
  }
}
.blogComp_img {
  object-fit: cover;
  width: 100%;
  height: 250px;
  border-radius: 5px 5px 0 0;
}
.blogComp_link {
  text-decoration: none;

  h3,
  span,
  p {
    color: var(--primary);
    line-height: 1.2;
    margin: 1rem 1rem;
  }
}
span {
  font-weight: 300;
  display: block;
}
p {
  font-size: 1.5rem;
  line-height: 1.2;
}
