@import "../../../../Responsive/mixin.scss";

.carousel_wrap {
  width: 100%;
  height: 400px;
  user-select: none;

  @include responsive_768 {
    height: 350px;
  }
  @include responsive_425 {
    height: 200px;
  }
  @include responsive_375 {
    height: 200px;
  }
  @include responsive_320 {
    height: 200px;
  }

  .img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    @include responsive_768 {
      object-fit: cover;
    }
    @include responsive_425 {
      object-fit: cover;
    }
    @include responsive_375 {
      object-fit: cover;
    }
    @include responsive_320 {
      object-fit: cover;
    }
  }
}
