.productPage_heading {
  text-align: center;
  margin-top: 3rem;
  .productPage_heading_content {
  }
}

.filter_Product {
  position: sticky;
  top: 3em;
  margin-top: 3rem;
  align-self: flex-start;
}
