.footer_wrap {
  margin-top: 2rem;
}
.footer_container {
  padding: 0 1rem;
  width: 100%;

  background-color: #000;

  .footer_heading {
    padding: 2rem 2rem;
    h1 {
      color: var(--white-color);
      font-size: 2rem;
      font-weight: 300;
      border-bottom: 1px solid #dfdfdf;
      margin-bottom: 1rem;
    }
    p {
      color: var(--white-color);
      font-size: 1.4rem;
      font-weight: 200;
      margin: 2rem 0;
    }

    form {
      display: flex;

      .footer_input {
        width: 19.5rem;
        border-radius: 3px;
        border: 1px solid #dfdfdf;
        margin-right: 0.5rem;
        outline: none;
        font-size: 1.4rem;
        padding: 0.5rem 0 0.5rem 0.5rem;
      }
      button {
        border-radius: 3px;
        border: 1px solid #1c77ff;
        background-color: #1c77ff;
        color: var(--white-color);
        padding: 0.3rem 0.5rem 0.3rem 0.5rem;
        cursor: pointer;
        transition: all 0.2s linear;
      }
      button:hover {
        background-color: #fff;
        color: #1c77ff;
      }
    }
    .footer_list {
      list-style: none;
      margin: 0;
      padding: 0;
      .footer_link {
        color: var(--white-color);
        text-decoration: none;
        font-size: 1.4rem;
        font-weight: 200;
      }

      .footer_link:hover {
        color: var(--hover-color);
      }
    }
  }
}
