@import "../../../../Responsive//mixin.scss";

.footer_wrap {
  margin-top: 2rem;
  display: block;
}
.footer_container {
  // padding: 0 1rem;
  width: 100%;

  background-color: #000;

  .footer_heading {
    padding: 2rem 2rem;
    h1 {
      color: var(--white-color);
      font-size: 2rem;
      font-weight: 300;
      border-bottom: 1px solid #dfdfdf;
      margin-bottom: 1rem;
      @include responsive_1024 {
        font-size: 1.5rem;
      }
      @include responsive_992 {
        font-size: 1.5rem;
      }
      @include responsive_768 {
        font-size: 1.5rem;
      }
      @include responsive_425 {
        font-size: 1.3rem;
      }
      @include responsive_375 {
        font-size: 1.1rem;
      }
      @include responsive_320 {
        font-size: 1rem;
      }
    }
    p {
      color: var(--white-color);
      font-size: 1.4rem;
      font-weight: 200;
      margin: 2rem 0;
    }

    form {
      display: flex;
      @include responsive_1200 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      @include responsive_1024 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      @include responsive_992 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      @include responsive_768 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      @include responsive_425 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      @include responsive_375 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      @include responsive_320 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .footer_input {
        width: 19.5rem;
        border-radius: 3px;
        border: 1px solid #dfdfdf;
        margin-right: 0.5rem;
        margin-bottom: 2rem;
        outline: none;
        font-size: 1.4rem;
        padding: 0.5rem 0 0.5rem 0.5rem;

        @include responsive_425 {
          width: 16.5rem;
          font-size: 1.3rem;
        }
        @include responsive_375 {
          width: 14rem;
          font-size: 1.2rem;
        }
        @include responsive_320 {
          width: 11.5rem;
          font-size: 1rem;
        }
      }
      button {
        border-radius: 3px;
        border: 1px solid #1c77ff;
        background-color: #1c77ff;
        color: var(--white-color);
        padding: 0.3rem 0.5rem 0.3rem 0.5rem;

        cursor: pointer;
        transition: all 0.2s linear;
      }
      button:hover {
        background-color: #fff;
        color: #1c77ff;
      }
    }
    .footer_list {
      list-style: none;
      margin: 0;
      padding: 0;
      .footer_link {
        color: var(--white-color);
        text-decoration: none;
        font-size: 1.4rem;
        font-weight: 200;
      }

      .footer_link:hover {
        color: var(--hover-color);
      }
    }
  }
  .source_wrap {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
  }
  .source {
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight: 200;

    @include responsive_425 {
      font-size: 1.3rem;
    }
    @include responsive_375 {
      font-size: 1.2rem;
    }
    @include responsive_320 {
      font-size: 1rem;
    }

    a {
      color: var(--white-color);
      font-weight: 200;
    }
    a:hover {
      color: #00ccff;
    }
  }
}
