@import "../../Responsive/mixin.scss";

.loading_container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  p {
    position: absolute;
    top: 45%;
    font-size: 3rem;
    color: #ffffff;
  }
}

.loading_wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.8;
  z-index: 50;
}
