@import "../../../../../Responsive/mixin.scss";
.sortProduct_wrap {
  width: 20rem;
  padding: 0.5rem 0 0.5rem 1rem;
  position: relative;
  outline: none;
  border: 1px solid #ccc;
  font-size: 1.5rem;
  display: inline-block;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  user-select: none;

  @include responsive_425 {
    width: 100%;
    border: none;
    background-color: #dfdfdf;
    border-radius: 0;
  }
  @include responsive_375 {
    width: 100%;
    border: none;
    background-color: #dfdfdf;
    border-radius: 0;
  }
  @include responsive_320 {
    width: 100%;
    border: none;
    background-color: #dfdfdf;
    border-radius: 0;
  }

  .sort_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include responsive_425 {
      justify-content: center;
    }
    @include responsive_375 {
      justify-content: center;
    }
    @include responsive_320 {
      justify-content: center;
    }

    .sortproduct_screen {
      p {
        padding: 0;
        font-size: 1.6rem;
        @include responsive_425 {
          margin-right: 7.5rem;
        }
        @include responsive_375 {
          margin-right: 7.5rem;
        }
        @include responsive_320 {
          margin-right: 7.5rem;
        }
      }
    }
    .sortProduct_icon {
      i {
        font-size: 1.6rem;
        padding: 1rem 1rem 1rem 1rem;
      }
    }
  }
}

.sortProduct_wrap:hover .sortProduct_menu {
  display: block;
}
.sortProduct_menu {
  position: absolute;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  width: 20rem;
  z-index: 1;
  top: 39px;
  right: -1px;
  display: none;
  user-select: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  @include responsive_425 {
    background-color: #f3f0f0;
    width: 100%;
    top: 39px;
    transition: all 0.5s ease-in-out;
  }
  @include responsive_375 {
    background-color: #f3f0f0;
    width: 100%;
    top: 39px;
    transition: all 0.5s ease-in-out;
  }
  @include responsive_320 {
    background-color: #f3f0f0;
    width: 100%;
    top: 39px;
    transition: all 0.5s ease-in-out;
  }

  .sorProduct_list {
    margin: 0;
    padding: 0;
    list-style: none;

    .sortProduct_item {
      padding: 0.5rem 1rem 0.5rem 1rem;
      font-size: 1.6rem;
    }
    .sortProduct_item:hover {
      background-color: #dfdfdf;
      cursor: pointer;
    }
    .active {
      padding: 0.5rem 1rem 0.5rem 1rem;
      font-size: 1.6rem;
      background-color: #dfdfdf;
    }
  }
}

// .sortProduct_wrap::after {
//   content: "";
//   position: absolute;
//   width: 20rem;
//   height: 2rem;
//   background-color: #fff;
//   top: 39px;
//   right: -1px;
// }
