@import "../../../Responsive/mixin.scss";
.cartPage_wrap {
  user-select: none;
  .cartPage_container {
    .cartPage_text {
      text-align: center;
      margin-top: 3rem;

      h1 {
        font-size: 4.5rem;
        font-weight: 400;
        color: var(--primary);
        @include responsive_320 {
          font-size: 3rem;
        }
      }
      p {
        font-size: 1.6rem;
        color: var(--primary);
        line-height: 1.3;
      }
      // .cartPage_line {
      //   width: 17rem;
      //   height: 3px;
      //   background-color: var(--primary);
      //   margin-left: 51rem;
      //   margin-top: 1.5rem;
      // }
    }

    .cartPage_product {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 4rem;
      margin-top: 10rem;

      .cart_img_info {
        display: flex;
        align-items: center;

        .cart_img {
          width: 10rem;
          height: 100%;

          img {
            width: 100%;
            height: 100%;
          }
        }
        .cart_info {
          padding-left: 4rem;
        }
      }

      .cart_price_delete {
        display: flex;
        align-items: center;

        @include responsive_425 {
          display: flex;
          flex-direction: column;
        }
        @include responsive_375 {
          display: flex;
          flex-direction: column;
        }
        @include responsive_320 {
          position: relative;
          top: 69px;
          left: -142px;
        }

        p {
          font-size: 1.6rem;
          font-weight: 400;
          color: var(--primary);
        }
        button {
          font-size: 1.4rem;
          font-weight: 400;
          color: var(--hover-color);
          padding-left: 2rem;
          border: none;
          background-color: var(--width-color);
          cursor: pointer;
        }
      }
    }

    .totalPrice {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid #dfdfdf;
      border-bottom: 4px solid #dfdfdf;
      margin-top: 3rem;
      p {
        font-size: 1.6rem;
        color: var(--primary);
      }
      h4 {
        font-size: 1.6rem;
        color: var(--hover-color);
      }
    }

    .cart_btn {
      display: flex;
      justify-content: center;
      margin-bottom: 6rem;

      @include responsive_425 {
        display: flex;
        flex-direction: column;
        align-items: center;
        .btn_size {
          width: 100%;
          border-radius: 0;
          margin: 0.5rem 0;
        }
      }
      @include responsive_375 {
        display: flex;
        flex-direction: column;
        align-items: center;
        .btn_size {
          width: 100%;
          border-radius: 0;
          margin: 0.5rem 0;
        }
      }
      @include responsive_320 {
        display: flex;
        flex-direction: column;
        align-items: center;
        .btn_size {
          width: 100%;
          border-radius: 0;
          margin: 0.5rem 0;
        }
      }

      .cart_btn_pr {
        margin-right: 1rem;
      }
    }
  }
}
.noCart_container {
  text-align: center;
  margin: 8rem 0rem 8rem 0;

  .noCart_link {
    display: inline-block;
    h2 {
      font-size: 2.2rem;
      font-weight: 500;
      line-height: 1.5;
    }
    h2:hover {
      color: var(--hover-color);
    }
    .noCart_line {
      width: 14rem;
      height: 3px;
      background-color: var(--hover-color);
      margin-left: 1.9rem;
      border-radius: 4px;
    }
  }
  .noCart_link:hover .noCart_line {
    transform: rotateY(90deg);
    transition: all 0.4s linear;
  }
}
